/*
 * Globals
 */

.search-bt-glyph{
   padding: 2px 0 4px;
}

.glyph-space-right{
  margin-right: 15px;
}

.glyph-space-right-small{
  margin-right: 10px;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */


.well.sidebar{
  padding-top: 0;
  margin-top: 75px;
}

.well.sidebar ul{
  padding-left: 20px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post img{
  display: block;
  max-width: 100%;
  height: auto;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    margin-top: 75px;
}

.blog-post-img {
    margin-bottom: 40px;
    margin-top: -20px;
    width: 100%;
    max-width: 350px
}

@media (min-width: 992px) {
  .blog-post-img {
    margin-bottom: 5px;
    margin-top: 75px;
    width: 100%;
    max-width: 350px
  }
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-tags-container, .blog-categories-container {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 15px 0;
    margin: 0 0 40px 0;
}
.blog-tags-container span.glyphicon, .blog-categories-container span.glyphicon {
    margin-right: 15px;
}

.blog-post-title-archive {
    margin-bottom: 5px;
    font-size: 25px;
}

.blog-archive-title {
    margin-bottom: 50px;
}

.category-list-link.current{
  font-weight: bold;
}
