<!-- Main Content -->
<div class="col-md-8">
  <%- partial('_partial/article-full', {item: page}) %>
</div>
<!-- Sidebar -->
<div class="col-md-3 col-md-offset-1"><div class="well sidebar">
  <%- partial('_partial/my_cat_list', {item: page}) %>
  <%- partial('_partial/related-articles', {item: page}) %>
</div></div>
