<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%- config.root %>"><strong><%- config.title %></strong></a>
    </div>

    <form class="navbar-form navbar-right" action="<%- config.root %>recherche/index.html" method="get">
      <div class="input-group">
            <input type="text" id="search-box" class="form-control" name="query" placeholder="Rechercher...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search search-bt-glyph" aria-hidden="true"></span>
              </button>
            </span>
      </div>
    </form>
  </div>
</nav>
