<%
  function my_cat_list() {

    var categories = site.categories;
    var className = 'category';
    var depth = 0;
    var orderby = 'name';
    var order = 1;
    var result = '';

    function prepareQuery(parent) {
      var query = {};

      if (parent) {
        query.parent = parent;
      } else {
        query.parent = {$exists: false};
      }

      return categories.find(query).sort(orderby, order).filter(function(cat) {
        return cat.length;
      });
    }

    function hierarchicalList(level, parent) {
      var result = '';

      prepareQuery(parent).forEach(function(cat, i) {
        var child;
        if (!depth || level + 1 < depth) {
          child = hierarchicalList(level + 1, cat._id);
        }

        var isCurrent = false;

        if(page.categories){
          if (page.categories.last().name == cat.name ) {
            isCurrent = true;
          }
        }

        if(page.category){
          if (page.category == cat.name ) {
            isCurrent = true;
          }
        }

        result += '<li class="' + className + '-list-item">';
        result += '<a class="' + className + '-list-link' + (isCurrent ? ' current' : '') + '" href="' + config.root + cat.path + '">';
        result += cat.name;
        result += '</a>';

        if (child) {
          result += '<ul class="' + className + '-list-child">' + child + '</ul>';
        }

        result += '</li>';
      });

      return result;
    }

    result += '<ul class="' + className + '-list">' + hierarchicalList(0) + '</ul>';


    return result;
  }
%>
<h3>Catégories</h3>
<%- my_cat_list() %>
